@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.release {
    @include flex-column;
    width: 100vw;
    position: relative;
    padding: get_rem(2);
    padding-bottom: get_rem(20);

    &__bottom {
        position: relative;
        width: 100%;
    }

    &__top {
        padding-top: get-rem(18);
        padding-bottom: get_rem(8);
        text-align: center;
        background: $palette-white;
        width: 100%;

        p {
            color: $palette-orange;
            font-weight: $fw-bold;
            font-size: $fs-md;
            text-transform: uppercase;
        }
    }

    &__heart,
    &__bag {
        font-size: get_rem(25);
    }

    &__button {
        padding: get_rem(10) get_rem(30);
        text-align: center;
        font-size: $fs-sm;
        font-weight: $fw-bold;
        color: $palette-white;
        background: $palette-orange;
    }

    &__card {
        @include flex-between;
        align-items: stretch;
        width: 100%;
        min-height: get_rem(295);
        max-width: get_rem(588);
        background-color: $palette-white;
        box-shadow: 0 get_rem(10) get_rem(3) get_rem(-2) rgba(0, 0, 0, 0.15);
        margin: get_rem(20) get_rem(15);
        gap: get_rem(30);
        padding: get_rem(15) get_rem(10);
        border-radius: get_rem(10);

        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: get_rem(35);
            min-width: 0;
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            gap: get_rem(35);

            img {
                width: get_rem(188);
                height: get_rem(188);
                flex-shrink: 0;
                object-fit: contain;
            }
        }

        &__content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: get_rem(10);
        }

        &__content__top {
            width: 100%;
            text-align: left;
        }

        &__content__mid {
            width: 100%;
            text-align: left;
            word-break: normal;
        }

        &__content__bottom {
            width: 100%;
            text-align: left;
            word-break: normal;
        }

        &__text__top {
            text-align: left;
            color: $palette-orange;
            font-size: $fs-sm;
            font-weight: $fw-bold;
        }

        &__text__mid {
            overflow-wrap: break-word;
            text-align: left;
            font-size: $fs-md;
            font-weight: $fw-bold;
            color: #002f52;
        }

        &__text__bottom {
            font-size: $fs-xs;
            font-weight: $fw-regular;
            color: $palette-black;
        }

        &__icons {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-left: get_rem(12);
            gap: get_rem(20);
            margin-top: get_rem(40);
            align-items: center;
        }
    }
}

.swiper {
    height: 100%;
    position: relative;
    padding-top: get_rem(40);
    max-width: get_rem(725);

    &__cover {
        position: relative;
        width: min(100%, get_rem(725));
        margin: 0 auto;
    }

    &__pagination__wrapper {
        position: relative;
        padding: 20px;
    }

    &-wrapper {
        position: relative;
        height: 100%;
        margin-top: get_rem(10);
        overflow-x: visible !important;
    }

    &-slide {
        height: get_rem(250) !important;
        width: get_rem(180) !important;
        box-shadow: get_rem(2) get_rem(4) get_rem(8) 0 rgba(0, 0, 0, 0.15);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-button-prev,
    &-button-next {
        display: none !important;
        background: $palette-dark-blue !important;
        border-radius: 50%;
        height: get_rem(48) !important;
        width: get_rem(48) !important;
        box-sizing: border-box !important;
        padding: get_rem(16);
        color: $palette-white !important;
        font-size: get_rem(15) !important;
        font-weight: $fw-bold !important;
        cursor: pointer;
    }
}

@include tablet {
    .release {
        padding-bottom: get_rem(48);

        &__bottom {
            @include flex-column;
            gap: get_rem(30);
        }

        &__top {
            p {
                font-size: $fs-xl;
            }
        }

        &__card {
            flex-direction: row;
            gap: get_rem(80);
            min-height: 0;
            height: get_rem(266);

            &__content__wrapper {
                height: get_rem(115);
                gap: get_rem(8);
            }

            &__right {
                gap: get_rem(25);

                img {
                    width: get_rem(165);
                    height: get_rem(165);
                    flex-shrink: 0;
                    object-fit: contain;
                }
            }
        }
    }

    .swiper {
        &__pagination__wrapper {
            position: relative;
            padding: 20px;
        }

        // &__cover {
        //     height: get_rem(360);
        // }

        &-pagination {
            margin-top: get_rem(25);
        }

        &-wrapper {
            margin-top: get_rem(60);
        }

        &-slide {
            height: get_rem(260) !important;
        }

        &-button-prev {
            display: flex !important;
            position: absolute !important;
            top: get_rem(220) !important;
            left: get_rem(-30) !important;
        }

        &-button-next {
            display: flex !important;
            position: absolute !important;
            top: get_rem(220) !important;
            right: get_rem(-30) !important;
        }
    }
}

@include desktop {
    .release {
        padding-bottom: get_rem(120);

        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: get_rem(40);
            width: 100%;
            padding-top: get_rem(30);
        }

        &__top {
            p {
                font-size: get_rem(32);
            }
        }

        &__card {
            width: get_rem(588);
            height: get_rem(270);
            display: flex;
            min-height: 0;
            flex-direction: row;
            gap: get_rem(100);
            padding: get_rem(20);

            &__wrapper {
                width: auto;
                transform: translateY(get_rem(25));
            }
            &__content__wrapper {
                height: get_rem(120);
                gap: get_rem(8);
            }

            &__left {
                width: get_rem(300);
                gap: get_rem(5);
            }

            &__right {
                gap: get_rem(35);

                img {
                    width: get_rem(150);
                    height: get_rem(150);
                    flex-shrink: 0;
                    object-fit: contain;
                }
            }

            &__text__top {
                font-size: get_rem(32);
            }

            &__icons {
                margin-top: get_rem(15);
            }
        }
    }

    .swiper {
        &__cover {
            width: get_rem(600);
            margin: 0;
            height: 100%;
        }

        &-wrapper {
            margin-top: get_rem(20);
        }

        &-button-prev {
            display: flex !important;
            position: absolute !important;
            top: get_rem(190) !important;
            left: get_rem(-35) !important;
        }

        &-button-next {
            display: flex !important;
            position: absolute !important;
            top: get_rem(190) !important;
            right: get_rem(-30) !important;
        }
    }
}
