/* 
 * converts a pixel value into a relative rem value based on a 16px base font size
 * @param {Number} $pixels - The pixel value to convert to rem.
 * @return {Number} - The equivalent rem value 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background: #ebecee;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.brand-logo {
  font-family: "josefin-sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

ul li,
ol li {
  font-size: 1.125rem;
  font-style: none;
  line-height: 1.5;
}

caption {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

@font-face {
  font-family: "icomoon";
  src: url("../../public/assets/fonts/icomoon.eot?8kgpf2");
  src: url("../../public/assets/fonts/icomoon.eot?8kgpf2#iefix") format("embedded-opentype"), url("../../public/assets/fonts/icomoon.ttf?8kgpf2") format("truetype"), url("../../public/assets/fonts/icomoon.woff?8kgpf2") format("woff"), url("../../public/assets/fonts/icomoon.svg?8kgpf2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e905";
  color: #fff;
}

.icon-hamburger:before {
  content: "\e904";
  color: #002f52;
}

.icon-bag:before {
  content: "\e903";
  color: #002f52;
}

.icon-profile:before {
  content: "\e900";
  color: #002f52;
}

.icon-heart:before {
  content: "\e901";
  color: #002f52;
}

.icon-mail:before {
  content: "\e902";
}

.header {
  width: 100%;
  max-height: 5rem;
}

.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 0 1.875rem 0 0;
  position: relative;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 5rem;
  background-color: transparent;
  border: none;
  padding: 1.75rem;
  cursor: pointer;
}

.navbar__menu i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.navbar__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navbar__logo div {
  display: none;
}

.navbar__links {
  display: none;
  align-items: center;
}

.alura,
.books {
  font-family: "josefin-sans", sans-serif;
  font-size: 1.875rem;
}

.alura {
  font-weight: 700;
}

.books {
  font-weight: 400;
}

.navbar__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-left: auto;
}

.navbar__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.navbar__action span:not(.icon-nav-right) {
  display: none;
}

.icon-bag,
.icon-profile,
.icon-heart {
  font-size: 2rem;
}

.navbar__action-fav {
  display: block;
  margin-top: 0.625rem;
}

.icon-nav-right {
  display: flex;
  align-items: center;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  display: block;
  padding: 1.25rem 1.875rem;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s ease;
}

.navbar__item:hover > .navbar__link {
  background: linear-gradient(to right, #002f52, #326589);
  color: #ffffff;
}

.navbar__link:hover,
.navbar__link:focus-visible {
  background: linear-gradient(to right, #002f52, #326589);
  color: #ffffff;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 16.25rem;
  background: white;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 100;
}

.navbar__item--dropdown:hover > .dropdown,
.navbar__item--dropdown:focus-within > .dropdown {
  display: block;
}

.dropdown__item a {
  display: block;
  padding: 0.9375rem 1.25rem;
  color: #000000;
  text-decoration: none;
}

.dropdown__item:hover > a,
.dropdown__item:focus-within > a {
  color: #ffffff;
}

.dropdown__item:hover,
.dropdown__item:focus-within {
  background: linear-gradient(to right, #002f52, #326589);
}

.dropdown__item:hover a .dropdown_item:focus-within a {
  color: #ffffff;
}

.mobile__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5rem;
  left: 0;
  display: none;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.2509803922);
  background-color: #ffffff;
}

.mobile__nav__link {
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  height: 4rem;
  width: 18.75rem;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}
.mobile__nav__link--active {
  font-weight: 700;
  color: #eb9b00;
  text-transform: lowercase;
  text-transform: capitalize;
}

.move-right {
  display: block;
}

.color-blue {
  background: linear-gradient(to right, #002f52, #326589);
}

.color-white::before {
  color: #ffffff;
}

@media (min-width: 1024px) {
  .navbar {
    padding: 0 2.5rem;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__left {
    gap: 2.5rem;
  }
  .navbar__logo div {
    display: block;
  }
  .navbar__links {
    display: flex;
  }
  .navbar__actions {
    gap: 2.1875rem;
  }
  .navbar__action span:not(.icon-nav-right) {
    display: none;
  }
  .navbar__action-fav {
    display: block;
  }
}
@media (min-width: 1728px) {
  .navbar {
    padding: 0 3.125rem;
  }
  .navbar__actions {
    gap: 3.75rem;
  }
  .navbar__action span:not(.icon-nav-right) {
    display: inline;
  }
  .navbar__action-fav {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 13.4375rem;
  padding: 2rem 1.5rem;
  gap: 1.875rem;
  background: linear-gradient(to right, #002f52, #326589);
  color: #ffffff;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

.hero__top__heading {
  font-size: 1.125rem;
  font-weight: 700;
}

.text {
  font-size: 1rem;
  font-weight: 500;
}

.hero__top__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
}

.hero__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 2.125rem;
  border-radius: 1.875rem;
  border: 0.0625rem solid #ffffff;
  background: transparent;
  max-width: 36.625rem;
}

.hero__search__icon {
  margin-top: 0.5rem;
  padding: 0.1875rem;
}

.icon-search {
  font-size: 1.25rem;
}

.hero__search__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.hero__search__input::-moz-placeholder {
  color: white;
  opacity: 1;
  font-size: 0.875rem;
  font-weight: 400;
}

.hero__search__input::placeholder {
  color: white;
  opacity: 1;
  font-size: 0.875rem;
  font-weight: 400;
}

.hero__search__input {
  width: 13.75rem;
  outline: none;
  border: none;
  background: transparent;
  line-height: 1;
}

@media (min-width: 1024px) {
  .hero {
    min-height: 23.4375rem;
    padding: 5.25rem 1.5rem;
  }
  .hero__top__heading {
    font-size: 2.25rem;
    font-weight: 700;
  }
  .hero__top__text {
    flex-direction: row;
    gap: 0.25rem;
  }
  .hero__search__input::-moz-placeholder {
    font-size: 1rem;
  }
  .hero__search__input::placeholder {
    font-size: 1rem;
  }
}
@media (min-width: 1728px) {
  .hero {
    min-height: 20.625rem;
    padding: 5.25rem 22.5rem;
  }
}
.release {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  padding: 0.125rem;
  padding-bottom: 1.25rem;
}

.release__bottom {
  position: relative;
  width: 100%;
}

.release__top {
  padding-top: 1.125rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background: #ffffff;
  width: 100%;
}
.release__top p {
  color: #eb9b00;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.swiper__cover {
  position: relative;
  height: 15.625rem;
  width: min(100%, 45.3125rem);
  margin: 0 auto;
}

.swiper {
  height: 100%;
  position: relative;
  padding-top: 2.5rem;
  max-width: 45.3125rem;
}

.swiper-pagination {
  position: absolute !important;
  top: 0.25rem !important;
  bottom: auto !important;
}

.swiper-wrapper {
  position: relative;
  height: 100%;
  margin-top: 2.1875rem;
  overflow-x: visible !important;
}

.swiper-slide {
  height: 15.625rem !important;
  width: 11.25rem !important;
  box-shadow: 0.125rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15) img;
  box-shadow-width: 100%;
  box-shadow-height: 100%;
  box-shadow-object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
  background: linear-gradient(to right, #002f52, #326589) !important;
  border-radius: 50%;
  height: 3rem !important;
  width: 3rem !important;
  box-sizing: border-box !important;
  padding: 1rem;
  color: #ffffff !important;
  font-size: 0.9375rem !important;
  font-weight: 700 !important;
  cursor: pointer;
}

.release__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 18.4375rem;
  max-width: 36.75rem;
  background-color: #ffffff;
  box-shadow: 0 0.625rem 0.1875rem -0.125rem rgba(0, 0, 0, 0.15);
  margin: 1.25rem 0.9375rem;
  gap: 1.875rem;
  padding: 0.9375rem 0.625rem;
  border-radius: 0.625rem;
}

.release__card__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  align-items: flex-start;
  gap: 0.9375rem;
  min-width: 0;
}

.release__card__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 2.1875rem;
}
.release__card__right img {
  width: 11.75rem;
  height: 11.75rem;
  flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.release__card__content__top {
  width: 100%;
  text-align: left;
}

.release__card__text__top {
  text-align: left;
  color: #eb9b00;
  font-size: 1rem;
  font-weight: 700;
}

.release__card__content__mid {
  width: 100%;
  text-align: left;
  word-break: normal;
}

.release__card__text__mid {
  overflow-wrap: break-word;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 700;
  color: #002f52;
}

.release__card__content__bottom {
  width: 100%;
  text-align: left;
  word-break: normal;
}

.release__card__text__bottom {
  font-size: 0.875rem;
  font-weight: 400;
  color: #000000;
}

.release__heart,
.release__bag {
  font-size: 1.5625rem;
}

.release__card__icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 0.75rem;
  gap: 1.25rem;
  align-items: center;
}

.release__button {
  padding: 0.625rem 1.875rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background: #eb9b00;
}

.release__card__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .release {
    padding-bottom: 3rem;
  }
  .release__card {
    flex-direction: row;
    gap: 5rem;
    min-height: 0;
    height: 16.625rem;
  }
  .swiper-slide {
    height: 16.875rem !important;
  }
  .release__card__left {
    flex: 1;
  }
  .release__card__right {
    gap: 1.5625rem;
  }
  .release__card__right img {
    width: 10.3125rem;
    height: 10.3125rem;
    flex-shrink: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .release__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
  }
  .swiper-button-prev {
    display: flex !important;
    position: absolute !important;
    top: 12.1875rem !important;
    left: -1.875rem !important;
  }
  .swiper-button-next {
    display: flex !important;
    position: absolute !important;
    top: 12.1875rem !important;
    right: -0.625rem !important;
  }
  .release__top p {
    font-size: 1.625rem;
  }
  .release__card__icons {
    margin-top: 4.0625rem;
  }
  .swiper__cover {
    height: 21.875rem;
  }
  .swiper-wrapper {
    margin-top: 6.25rem;
  }
  .swiper-pagination {
    margin-top: 1.5625rem;
  }
}
@media (min-width: 1728px) {
  .release {
    padding-bottom: 7.5rem;
  }
  .release__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    padding-top: 1.875rem;
  }
  .swiper__cover {
    width: 37.5rem;
    margin: 0;
    height: 19.375rem;
  }
  .swiper-wrapper {
    margin-top: 3.75rem;
  }
  .release__card__wrapper {
    width: auto;
    transform: translateY(1.5625rem);
  }
  .release__card {
    width: 36.75rem;
    height: 16.875rem;
    display: flex;
    min-height: 0;
    flex-direction: row;
    gap: 6.25rem;
    padding: 1.25rem;
  }
  .release__card__left {
    width: 18.75rem;
    gap: 0.3125rem;
  }
  .release__card__right img {
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .release__card__icons {
    margin-top: 0.9375rem;
  }
  .swiper-button-prev {
    display: flex !important;
    position: absolute !important;
    top: 10.625rem !important;
    left: -2.1875rem !important;
  }
  .swiper-button-next {
    display: flex !important;
    position: absolute !important;
    top: 10.625rem !important;
    right: -1.875rem !important;
  }
  .release__top p {
    font-size: 2rem;
  }
  .release__card__text__top {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */